<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="layout::site-head">
</head>
<body>

<nav th:replace="layout::site-navbar"></nav>

<section class="section">
<div class="container">

    <form th:replace="subjects/form::subject-form"></form>

    <br>
    <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
            <th>Materia</th>
            <th>Clave</th>
            <th>Ht</th>
            <th>Hp</th>
            <th>Creditos</th>
            <th>Color</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="subject : ${subjectList}">
                <td th:text="${subject.name}"></td>
                <td th:text="${subject.key}"></td>
                <td th:text="${subject.ht}"></td>
                <td th:text="${subject.hp}"></td>
                <td th:text="${subject.credits}"></td>
                <td th:text="${subject.color}" th:style="'color:' + ${subject.color} "></td>
                <td>
                    <a th:href="|/subject/edit/${subject.id}|" class="is-link">
                        <span class="icon"><i class="fi-pencil"></i></span>
                    </a>
                </td>
                <td>
                    <a th:href="|/subject/delete/${subject.id}|">
                        <span class="icon"><i class="fi-trash"></i></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>

<footer th:replace="layout::site-footer" />
</body>
</html>