<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout::site-head">
</head>
<body>

<nav th:replace="layout::site-navbar"></nav>

<section class="section">
    <div class="container is-fullhd">
        <br>
        <form th:action="@{/schedule}" method="get">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">careera</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="career">
                                    <option th:each="c : ${careerList}"
                                            th:text="${c.name}"
                                            th:value="${c.id}"
                                            th:selected="(${c.id} == ${#httpServletRequest.getParameter('career')})">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-primary">Mostrar Horario</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Unidad</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control is-expanded">
                            <label th:each="s : ${#numbers.sequence(1,9)}" class="radio">
                                <input th:value="${s}"
                                       th:text=" ${' '+ s + 'º'}"
                                       th:checked="${s} == '1'"
                                       type="radio">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<footer th:replace="layout::site-footer" />
</body>
</html>