<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout::site-head">
</head>
<body>

<nav th:replace="layout::site-navbar"></nav>

<section class="section">
    <div class="container is-fullhd">
        <br>
        <form th:action="@{/schedule/save}" method="get">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Carrera</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="career">
                                    <option th:each="c : ${careerList}"
                                            th:text="${c.name}"
                                            th:value="${c.id}"
                                            th:selected="(${c.id} == ${#httpServletRequest.getParameter('career')})">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-primary">Mostrar Horario</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Unidad</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control is-expanded">
                            <label th:each="semester : ${#numbers.sequence(1,9)}" class="radio">
                                <input th:value="${semester}"
                                       th:text=" ${' '+ semester + 'º'}"
                                       th:checked="${param.semester == null} ? (${semester == 1}) : (${semester} == ${#httpServletRequest.getParameter('semester')})"
                                       name="semester"
                                       type="radio">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Turno</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control is-expanded">
                            <label class="radio">
                                <input value="morning"
                                       name="turn"
                                       th:checked="${param.semester == null} ? 'checked' : ${#httpServletRequest.getParameter('turn') == 'morning'}"
                                       type="radio"> Matutino
                            </label>
                            <label class="radio">
                                <input value="evening"
                                       name="turn"
                                       th:checked="${#httpServletRequest.getParameter('turn') == 'evening'}"
                                       type="radio"> Vespertino
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <section class="section">
            <form th:action="@{/schedule/save}" method="post">
                <!--/* This code will be removed at thymeleaf parsing time!
                       asasa
                */-->
                <input type="hidden" name="semester" th:value="${param.semester == null} ? 1 : ${param.semester}">
                <input type="hidden" name="career" th:value="${param.career == null} ? 1 : ${param.career}">
                <input type="hidden" name="turn" th:value="${param.turn == null} ? 'morning' : ${param.turn}">
            <table class="table is-bordered is-fullwidth">
                <thead>
                <tr>
                    <td></td>
                    <td>Lunes</td>
                    <td>Martes</td>
                    <td>Miercoles</td>
                    <td>Jueves</td>
                    <td>Viernes</td>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="hour : ${hourList}">
                        <td>
                            <label th:for="${hour}" th:text="${hour}"></label>
                        </td>
                        <td th:each="counter: ${#numbers.sequence(0,4)}">
                            <select th:name="${hour}">
                                <option th:each="subject : ${subjectList}"
                                    th:value="${subject.id}"
                                    th:text="${subject.name}"></option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="control">
                <button class="button is-link">Guardar</button>
            </div>
            </form>
        </section>
    </div>
</section>
<footer th:replace="layout::site-footer" />
</body>
</html>