<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="has-navbar-fixed-top">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Itsa</title>
    <!-- Common styles and scripts -->
    <link rel="stylesheet" th:href="@{/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/bulma.min.css}"/>
    <link th:href="@{/font/css/open-iconic-foundation.min.css}" rel="stylesheet"/>
</head>

<body>
<nav th:fragment="site-navbar" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <div class="navbar-item has-dropdown is-hoverable">
            <a th:classappend="${#httpServletRequest.getRequestURI() == '/schedule' ? 'is-active' : ''}"
               th:href="@{/schedule}"
               class="navbar-link">Horario</a>
            <div class="navbar-dropdown">
                <a th:href="@{/schedule}"
                   class="navbar-item"> Consultar </a>
                <a th:href="@{/schedule/save}"
                   class="navbar-item"> Administrar </a>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
            <a th:classappend="${#httpServletRequest.getRequestURI() == '/reticle' ? 'is-active' : ''}"
               th:href="@{/reticle}"
               class="navbar-link">Reticulas</a>
            <div class="navbar-dropdown">
                <a th:href="@{/reticle}"
                    class="navbar-item"> Consultar </a>
                <a th:href="@{/reticle/save}"
                   class="navbar-item"> Crear Nueva </a>
            </div>
        </div>

        <a th:classappend="${#httpServletRequest.getRequestURI() == '/subject' ? 'is-active' : ''}"
           th:href="@{/subject}"
           class="navbar-item">Materias</a>

        <a th:classappend="${#httpServletRequest.getRequestURI() == '/others' ? 'is-active' : ''}" href=""
           class="navbar-item">Otros</a>
    </div>
</nav>

<footer th:fragment="site-footer" class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>ITSA Web service</strong> by me. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <p>Development with spring MVC</p>
        </div>
    </div>
</footer>

</body>
</html>