<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
</head>
<body>
<nav th:replace="layout::site-navbar"></nav>

<section class="section">
    <div class="container is-fullhd">
        <br>
        <form th:action="@{/reticle}" method="get">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Carrera</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="career">
                                    <option th:each="c : ${careerList}"
                                            th:text="${c.name}"
                                            th:value="${c.id}"
                                            th:selected="(${c.id} == ${#httpServletRequest.getParameter('career')})">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-primary">Mostrar Reticula</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <section class="section">
            <div class="columns">
                <div class="column" th:each="reticle : ${reticleList}">
                    <h6 th:text="${reticle.semester} + ' º'" class="title is-6" style="text-align:center;"></h6>
                    <div th:each="subject : ${reticle.subjects}"
                       style="position: relative; text-align: center; border: 1px solid #cecece; margin-bottom:5px; padding:3px;">
                        <p th:text="${subject.name}"></p>
                        <p th:text="${subject.key}"></p>
                        <p th:text="${subject.ht + '-' + subject.hp + '-' + subject.credits}"></p>
                    </div>
                </div>
            </div>
    </section>
</section>

<footer th:replace="layout::site-footer"/>
</body>
</html>