<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
</head>
<body>
<nav th:replace="layout::site-navbar"></nav>

<section class="section">
    <div class="container">
        <br>
        <form th:action="@{/reticle/save}" method="get">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Carrera</label>
                </div>
                <div class="field-body">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                <select name="subject">
                                    <option th:each="c : ${careerList}"
                                            th:text="${c.name}"
                                            th:value="${c.id}"
                                            th:selected="(${c.id} == ${reticle.career.id})">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-primary">Mostrar materias</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <form th:fragment="reticle-form" th:object="${reticle}" th:action="@{/reticle/save}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{career.id}" th:value="${param.id}">

            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Unidad</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control is-expanded">
                            <label th:each="s : ${#numbers.sequence(1,9)}" class="radio">
                                <input th:field="*{semester}"
                                       th:value="${s}"
                                       th:text=" ${' '+ s + 'º'}"
                                       th:checked="${s} == *{semester}"
                                       type="radio">
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <table class="table is-striped is-fullwidth">
                <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Materia</th>
                    <th>Clave</th>
                <tbody>
                <tr th:each="subject : ${subjectList}">
                    <td><input name="subjectList[]"
                               th:value="${subject.id}" class="checkbox" type="checkbox"></td>
                    <td th:text="${subject.id}"></td>
                    <td th:text="${subject.name}"></td>
                    <td th:text="${subject.key}"></td>
                </tr>
                </tbody>
                </tr>
                </thead>
            </table>

            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button class="button is-primary">Guardar Reticula</button>
                </div>
            </div>
        </form>

    </div>
</section>

<footer th:replace="layout::site-footer"/>
</body>
</html>